button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 75px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 50px;
  border-radius: 20px;
  cursor: pointer;
}
.justify{
    display: flex;
    align-items: center;
}